@using IDN.Services.Empresa.Records;
@model (RCharts g, REmpresas r)

@if (Model.r != null)
{
    <div class="center truncate padding-5"><span id="span_result">Indicadores.Net</span></div>
    <div class="charts">
    <div class="column-container flex-wrap no-gap">
        @* Acumulado *@
        <div class="card borderl-t column-p6">
            <div class="card-header activator">
                Empresas<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div class="column-container flex-wrap margin-0 width-100 no-gap">
                <i class="material-icons mid swipe-down">swipe_up</i>
                <div class="w-50p">
                    <div id="chart1"></div>
                </div>
                <div class="w-50p padding-5">
                    <div class="overflow-auto max-height-280 padding-t-10 padding-r-10">
                        @foreach (var item in Model.r.Quantitativo?.Where(s => s.Key != "Baixada")!)
                            {
                                var _key = @item.Key;
                                <p class=""><span class="font-size-10">- @_key?.ToUpper()</span>
                                    <span class="new badge" data-badge-caption="@item.Value"></span>
                                </p>
                                <div class="divider"></div>
                            }
                        </div>
                    </div>
                    @* <div class="width-100 borderl-t padding-5 bg-color-green">
                <div class="overflow-auto">
                @foreach (var item in Model.r.Quantitativo_Ano!.Where(s => s.Key == "Ativa")!)
                {
                var _key = @item.Key;
                <p class="text-color-light "><span class="font-size-14">* Formalizadas @DateTime.Now.Year</span>
                <span class="new bg-color-grey badge" data-badge-caption="@item.Value"></span>
                </p>
                <div class="divider"></div>
                }

                </div>
                </div> *@
                </div>
                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <p>
                            O gráfico mostra o quantiativo total das empresas consolidadas no (os) municipio (os) até a data
                            da ultinma extração.
                            A lista ao lado do gráfico mostra o quantitativo das empresas separadas por situação cadastral.
                        </p>
                    </div>
                </div>
                <div class="card-action padding-r-l-15 padding-t-b-5 margin-0 no-border">
                    @foreach (var item in Model.r.Quantitativo_Ano!.Where(s => s.Key == "Ativa")!)
                    {
                        var _key = @item.Key;
                        <p class="right">
                            <span class="font-size-14">Formalizadas @DateTime.Now.Year</span>
                            <span class="new badge" data-badge-caption="@item.Value"></span>
                        </p>
                        @* <div class="divider"></div> *@
                    }
                </div>
            </div>

            @* Top 3 Atividades *@
            <div class="card borderl-t column-w4">
                <div class="card-header activator">
                    Top 3 Setores @DateTime.Now.Year<i class="material-icons right deep-orange-text">help</i>
                </div>
                <div class="overflow-auto max-height-280 padding-5">
                    @foreach (var item in Model.r!.Top3Atividades_Ano!)
                    {
                        <p class="bg-surface padding-5">@item.Key</p>
                        @foreach (var subitem in item.Value)
                        {
                            <div class="text-color-light column-container gap-5 margin-t-b-5 width-100 flex-row">
                                <div class="w-80p font-size-10 truncate">- @subitem.Key</div>
                                <a href="#_modal_charts" class="w-20p btn-small" data-badge-caption="">@subitem.Value</a>
                            </div>
                            <div class="divider"></div>
                        }
                    }
                </div>
                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <p>
                            O gráfico mostra o quantiativo total das empresas consolidadas no (os) municipio (os) até a data
                            da ultinma extração.
                            A lista ao lado do gráfico mostra o quantitativo das empresas separadas por situação cadastral.
                        </p>
                    </div>
                </div>
            </div>

            @* Historico 12 meses *@
            <div class="card borderl-t column-p0 width-100">
                <div class="card-header activator">
                    Empresas Formalizadas/Baixadas<i class="material-icons left">
                        date_range
                    </i><i class="material-icons right deep-orange-text">help</i>
                </div>
                <div id="chart9" class="padding-l-10"></div>

                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        Histórico de Novas Empresas e Empresas Baixadas nos ultimos 12 meses
                        <p>Relação e a evolução das novas empresas formalizadas mês a mês em comparação com
                            as
                            empresas baixadas mês a mês nos ultimos 12 meses</p>
                    </div>
                </div>
            </div>

            @* Fiscal *@
            <div class="card borderl-t column-p0 width-100">
                <div class="card-header activator">
                    Porte/Fiscal<i class="material-icons right deep-orange-text">help</i>
                </div>
                <div class="column-container margin-0 width-100 no-gap">
                    <div class="w-50p">
                        <div id="chart3"></div>
                    </div>
                    <div class="w-25p padding-5">
                        <div class="overflow-auto max-height-280 padding-t-10 padding-r-10">
                            @DateTime.Now.Year
                            @foreach (var item in Model.r.Fiscal_Ano!)
                            {
                                var _key = @item.Key;
                                <p class=""><span class="font-size-10">- @_key?.ToUpper()</span>
                                    <span class="new badge" data-badge-caption="@item.Value"></span>
                                </p>
                                <div class="divider"></div>
                            }

                        </div>
                    </div>
                    <div class="w-25p padding-5">
                        <div class="overflow-auto max-height-280 padding-t-10 padding-r-10">
                            Acumulado
                            @foreach (var item in Model.r.Fiscal!)
                            {
                                var _key = @item.Key;
                                <p class=""><span class="font-size-10">- @_key?.ToUpper()</span>
                                    <span class="new badge" data-badge-caption="@item.Value"></span>
                                </p>
                                <div class="divider"></div>
                            }
                        </div>
                    </div>
                </div>

                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <br />A Receita Federal do Brasil classifica as empresas de acordo com o seu porte, levando em
                        consideração o faturamento anual.
                        <br />- Microempresa (ME): receita bruta anual igual ou inferior a R$ 360 mil.
                        <br />- Empresa de Pequeno Porte (EPP): receita bruta anual superior a R$ 360 mil e igual ou
                        inferior a R$ 4,8 milhões.
                        <br />- Empresa de Médio Porte (EMP): receita bruta anual superior a R$ 4,8 milhões e igual ou
                        inferior
                        a R$ 300 milhões.
                        <br />- Empresa de Grande Porte (GP): receita bruta anual superior a R$ 300 milhões.
                        <br />Na apresentação dos dados EMP e GP são agrupadas como "DEMAIS".
                        <p>
                            No gráficio, é realizado o cruzamento dos dados das empresas agrupadas por Porte em relação as
                            empresas agrupadas por regime fiscal.
                            Dessa forma podemos entender a composição das empresa classificadas por porte x regime
                            tributário.
                        </p>
                    </div>
                </div>
            </div>

            @* perfil Etário *@
            <div class="card borderl-t column-p5">
                <div class="card-header activator">
                    Perfil Etário<i class="material-icons right deep-orange-text">help</i>
                </div>
                <div id="chart5"></div>

                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <p>
                            O gráfico mostra o perfil étario das empresas atuantes no (os) municipio (os) agrupados por
                            faixas.
                        </p>
                    </div>
                </div>
            </div>

            @* Rotatividade *@
            <div class="card borderl-t column-p5">
                <div class="card-header activator">
                    Rotatividade Empresarial<i class="material-icons right deep-orange-text">help</i>
                </div>
                <div id="chart6"></div>

                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <p>A rotatividade empresarial em municípios é um indicador que mede a frequência com que as empresas
                            abrem e fecham em um determinado período de tempo. Esse indicador é importante para avaliar o
                            dinamismo da economia local e o ambiente de negócios do município.
                            Quanto menor o indice, melhor para desenvolver o empreendedorismo.
                        </p>
                    </div>
                </div>
            </div>

            @* Evolução setorial *@
            <div class="card  borderl-t column-p5">

                <div class="card-header activator">
                    Crescimento Setorial<i class="material-icons left">
                        date_range
                    </i><i class="material-icons right deep-orange-text">help</i>
                </div>
                <div id="chart10"></div>

                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <p>
                            No gráfico, é possível acompanhar a evolução setorial acumulativa do (os) municipio (os) ano a
                            ano
                            nos ultimos 10 anos!
                        </p>
                    </div>
                </div>
            </div>
            <div class="card borderl-t column-p5">

                <div class="card-header activator">
                    Taxa de Crescimento Setorial<i class="material-icons left">
                        date_range
                    </i><i class="material-icons right deep-orange-text">help</i>
                </div>
                <div id="chart_txsetorial"></div>

                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <p>
                            No gráfico, é indicado a taxa de crescimento setorial do (os) municipio (os), onde é possivel
                            acompanhar e ver o acrescimo
                            ou
                            decréscimo dos setores ano a ano.
                        </p>
                    </div>
                </div>
            </div>

            @* Atividades *@
            <div class="card borderl-t column-p0 width-100">

                <div class="card-header activator">
                    Setores<i class="material-icons right deep-orange-text">help</i>
                </div>
                <div class="column-container margin-0 width-100 no-gap">
                    <div class="column-p5">
                        <div id="chart4"></div>
                    </div>
                    <div class="column-p5 padding-l-10">
                        <div class="overflow-auto max-height-250 padding-t-10 padding-r-10">
                            @foreach (var item in Model.r!.TAtividades!)
                            {
                                <p class="bg-surface padding-5">@item.Key</p>
                                @foreach (var subitem in item.Value)
                                {
                                    <div class="column-container gap-5 margin-t-b-5 width-100 flex-row">
                                        <div class="w-80p font-size-10 truncate">- @subitem.Key</div>
                                        <a href="#_modal_charts" class="w-20p btn-small" data-badge-caption="">@subitem.Value</a>
                                    </div>
                                    <div class="divider"></div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <p>O gráfico mostras a composição dos setores produtivos de todas empresas consolidadas até a data
                            da ultima extração, agrupando-as conforme o
                            setor de atuação de sua atividade principal.</p>
                        <p>
                            Ao lado do gráfico, é possível conferir todas as atividades exercidas agrupadas por setor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card  borderl-t  column-p0 width-100">

                <div class="card-header activator">
                    Natureza Jurídica<i class="material-icons right deep-orange-text">help</i>
                </div>
                <div class="column-container margin-0 width-100 no-gap">
                    <div class="column-p5">
                        <div id="chart_nj"></div>
                    </div>
                    <div class="column-p5 padding-l-10">
                        <div class="overflow-auto max-height-250 padding-t-10 padding-r-10">
                            @foreach (var item in Model.r.NaturezaJuridica!)
                            {
                                var _key = @item.Key?.Remove(0, 5);
                                <div class="column-container gap-5 margin-t-b-5 width-100 flex-row">
                                    <div class="w-80p font-size-10 truncate">- @_key?.ToUpper()</div>
                                    <a href="#_modal_charts" class="w-20p btn-small" data-badge-caption="">@item.Value</a>
                                </div>
                                <div class="divider"></div>
                            }
                        </div>
                    </div>
                </div>

                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <div class="padding-10">
                        <br />A natureza jurídica determina o regime jurídico aplicável à
                        empresa. Por exemplo, as empresas de natureza empresária limitada têm responsabilidade limitada, o
                        que
                        significa que os sócios não respondem com seus bens pessoais pelas dívidas da empresa.

                        <br />Em resumo, a natureza jurídica é uma informação importante que identifica o tipo de
                        organização de
                        uma empresa e determina o regime jurídico aplicável a ela.
                        <p>O gráfico mostra os 5 mais utilizados, e, a lista ao lado os dados completos.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Structure -->
    <div id="_modal_charts" class="modal">
    <div class="modal-content">
        <h6>IA Report</h6>
        <p>Conteúdo para assinantes...</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn">OK</a>
    </div>
</div>

    <script>

    function getColorScheme() {
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    }

    var _mode = getColorScheme();
    var _palette = 'palette3';
    var _width = '100%';
    var _height = 250;
    var _height_2 = 250;
    var _forecolor = '#777';
    //window Metro
    var _colors = ['#0078D7', '#7AAB13', '#F7630C', '#8E008E', '#B50E0E', '#00BCF2', '#F2F2F2', '#6E6E6E', '#FFB900', '#13A10E'];

    //Material Design
    //var _colors = ['#2196F3', '#F44336', '#4CAF50', '#FF9800', '#9C27B0', '#00BCD4', '#3F51B5', '#E91E63', '#607D8B', '#FFEB3B'];

    var _novas_empresas_mensal = {
        series: [
            {
                name: "Total",
                data: [@Model.g!.NovasMes![0]]
            },
            {
                name: "MEIs",
                data: [@Model.g!.NovasMeiMes![0]]
            },
            {
                name: "MEs",
                data: [@Model.g!.NovasMEMes![0]]
            },
            {
                name: "EPPs",
                data: [@Model.g!.NovasEPPMes![0]]
            },
            {
                name: "Demais",
                data: [@Model.g!.NovasDemaisMes![0]]
            },
            {
                name: "Baixas",
                data: [@Model.g!.BaixasMes![0]]
            }
        ],
        chart: {
            height: 350,
            type: 'area',
            height: _height,
            width: _width,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: true,
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.45,
                opacityTo: 0.05,
                stops: [20, 100, 100, 100]
            },
        },
        grid: {
            xaxis: {
                lines: {
                    show: false
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        markers: {
            size: 1
        },
        xaxis: {
            categories: [@Model.g!.NovasMes![1]],
        },
        yaxis: {

            title: {
                text: 'Empresas'
            },
            show: false
        },
        stroke: {
            curve: 'straight',
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        legend: {
        position: 'top',
            horizontalAlign: 'right',
                offsetX: -10
    }
    };

    var _ativas = {

        series: [@Model.g!.MatrizFilial![0]],
        labels: [@Model.g!.MatrizFilial![1]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: _height,
            background: 'transparent'
        },

        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _fiscal = {

        series: [@Model.g!.Fiscal![0]],
        labels: [@Model.g!.Fiscal![1]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: _height,
            background: 'transparent'

        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _porte = {
        series: [{
            name: '@Model.g!.LabelPorteFiscal![0]',
            data: [@Model.g!.PorteFiscal![0]]
        }, {
            name: '@Model.g!.LabelPorteFiscal![1]',
            data: [@Model.g!.PorteFiscal![1]]
        }, {
            name: '@Model.g!.LabelPorteFiscal![2]',
            data: [@Model.g!.PorteFiscal![2]]
        }],
        chart: {
            type: 'bar',
            height: _height,
            stacked: true,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        responsive: [{
            breakpoint: 480,
            options: {
                legend: {
                    position: 'bottom',
                    offsetX: -10,
                    offsetY: 0
                }
            }
        }],
        plotOptions: {
            bar: {
                horizontal: false,
                borderRadius: 0,
                dataLabels: {
                    total: {
                        enabled: true,
                        style: {
                            fontSize: '13px',
                            color: _forecolor,
                            fontWeight: 400
                        }
                    }
                }
            },
        },
        xaxis: {
            categories: ['ME', 'EPP', 'Demais'],
        },
        yaxis: {
            show: false
        },
        grid: {
            xaxis: {
                lines: {
                    show: false
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        legend: {
            position: 'bottom',
            offsetY: 0
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        fill: {
        opacity: 1
    }
    };

    var _setores = {

        series: [@Model.g!.Setores![1]],
        labels: [@Model.g!.Setores![0]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: _height,
            background: 'transparent'
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _maturidade = {
        plotOptions: {
            bar: {
                distributed: true
            }
        },
        chart: {
            type: 'bar',
            with: _width,
            height: _height,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        plotOptions: {
            bar: {
                horizontal: true,
            },
        },
        series: [{
            name: "Empresas",
            data: [@Model.g!.Maturidade],
        }],
        dataLabels: {
            enabled: true,
        },
        tooltip: {
            shared: true,
            intersect: false
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        xaxis: {
        labels: {
            show: false
        },
        axisBorder: {
            show: false
        },
        axisTicks: {
            show: false
        },
        crosshairs: {
            show: false
        }
    },
    grid: {
        xaxis: {
            lines: {
                show: false
            },
        },
        yaxis: {
            lines: {
                show: false
            }
        }
    },
    legend: {
        floating: true,
            position: 'bottom',
                horizontalAlign: 'right',
                    offsetY: -36
    }
    };

    var _rotatividade = {
        plotOptions: {
            bar: {
                distributed: true
            }
        },
        chart: {
            type: 'area',
            with: _width,
            height: _height,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        plotOptions: {
            bar: {
                horizontal: true,
            },
        },
        series: [{
            name: "Rotatividade",
            data: [@Model.g!.Rotatividade],
        }],
        dataLabels: {
            enabled: true,
            formatter: function (value) {
                return value + "%";
            }
        },
        tooltip: {
            shared: true,
            intersect: false,
            formatter: function (value) {
                return value + "%";
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        xaxis: {
        labels: {
            show: true
        },
        axisBorder: {
            show: false
        },
        axisTicks: {
            show: false
        },
        crosshairs: {
            show: false
        }
    },
    grid: {
        xaxis: {
            lines: {
                show: false
            },
        },
        yaxis: {
            lines: {
                show: false
            }
        }
    },
    fill: {
        type: 'gradient',
            gradient: {
            shadeIntensity: 1,
                inverseColors: false,
                    opacityFrom: 0.45,
                        opacityTo: 0.05,
                            stops: [20, 100, 100, 100]
        },
    },
    stroke: {
        curve: 'straight',
        },
    legend: {
        floating: true,
            position: 'bottom',
                horizontalAlign: 'right',
                    offsetY: -36
    }
    };

    var _naturezajuridica = {
        series: [@Model.g!.NaturezaJuridica![1]],
        labels: [@Model.g!.NaturezaJuridica![0]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: _height,
            background: 'transparent'
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _naturezajuridica_ano = {
        series: [@Model.g!.NaturezaJuridica_Ano![1]],
        labels: [@Model.g!.NaturezaJuridica_Ano![0]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 280,
            background: 'transparent'
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    }

    var _novas_empresas_mensal_ativas = {

        series: [@Model.g!.MatrizFilial_Ano![0]],
        labels: [@Model.g!.MatrizFilial_Ano![1]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 270,
            background: 'transparent'
        },
        dataLabels: {
            enabled: false
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _novas_empresas_mensal_fiscal = {

        series: [@Model.g!.Fiscal_Ano![0]],
        labels: [@Model.g!.Fiscal_Ano![1]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 270,
            background: 'transparent'
        },
        dataLabels: {
            enabled: false
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _novas_empresas_mensal_porte = {
        series: [{
            name: '@Model.g!.LabelPorteFiscal![0]',
            data: [@Model.g!.PorteFiscalAno![0]]
        }, {
            name: '@Model.g!.LabelPorteFiscal![1]',
            data: [@Model.g!.PorteFiscalAno![1]]
        }, {
            name: '@Model.g!.LabelPorteFiscal![2]',
            data: [@Model.g!.PorteFiscalAno![2]]
        }],
        chart: {
            type: 'bar',
            height: _height_2,
            stacked: true,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        yaxis: {
            show: false
        },
        grid: {
            xaxis: {
                lines: {
                    show: false
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        responsive: [{
            breakpoint: 480,
            options: {
                legend: {
                    position: 'bottom',
                    offsetX: -10,
                    offsetY: 0
                }
            }
        }],
        plotOptions: {
            bar: {
                horizontal: false,
                borderRadius: 0,
                dataLabels: {
                    total: {
                        enabled: true,
                        style: {
                            fontSize: '13px',
                            color: _forecolor,
                            fontWeight: 400
                        }
                    }
                }
            },
        },
        xaxis: {
            categories: ['ME', 'EPP', 'DEMAIS'],
        },
        legend: {
            position: 'bottom',
            offsetY: 0
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        fill: {
        opacity: 1
    }
    };

    var _novas_empresas_mensal_setor = {

        series: [@Model.g!.SetoresAno![1]],
        labels: [@Model.g!.SetoresAno![0]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 280,
            background: 'transparent'
        },
        dataLabels: {
            enabled: false
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _evolucao_setorial = {
        series: [@Model.g!.CrescimentoSetorial![1]],
        chart: {
            type: 'area',
            stacked: false,
            height: _height,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            },
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0,
        },
        grid: {
            xaxis: {
                lines: {
                    show: false
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        stroke: {
            curve: 'straight',
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.45,
                opacityTo: 0.05,
                stops: [20, 100, 100, 100]
            },
        },
        tooltip: {
            shared: true
        },
        legend: {
            position: 'top',
            horizontalAlign: 'right',
            offsetX: -10
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
    };

    var _tx_evolucao_setorial = {
        series: [@Model.g!.TxCrescimentoSetorial![1]],
        chart: {
            type: 'area',
            stacked: false,
            height: _height,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            },
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0,
        },
        grid: {
            xaxis: {
                lines: {
                    show: false
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        stroke: {
            curve: 'straight',
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.45,
                opacityTo: 0.05,
                stops: [20, 100, 100, 100]
            },
        },
        tooltip: {
            shared: true
        },
        legend: {
            position: 'top',
            horizontalAlign: 'right',
            offsetX: -10
        },
        theme: {
            mode: _mode,
            @* palette: _palette *@
        },
    colors: _colors,
    };

    window.onload = function () {
        new ApexCharts(document.querySelector("#chart9_1"), _novas_empresas_mensal_ativas).render();
        new ApexCharts(document.querySelector("#chart9_2"), _novas_empresas_mensal_fiscal).render();
        new ApexCharts(document.querySelector("#chart9_3"), _novas_empresas_mensal_porte).render();
        new ApexCharts(document.querySelector("#chart9_4"), _novas_empresas_mensal_setor).render();
        new ApexCharts(document.querySelector("#chart_nj_ano"), _naturezajuridica_ano).render();

        new ApexCharts(document.querySelector("#chart9"), _novas_empresas_mensal).render();

        new ApexCharts(document.querySelector("#chart1"), _ativas).render();
        new ApexCharts(document.querySelector("#chart2"), _fiscal).render();
        new ApexCharts(document.querySelector("#chart3"), _porte).render();
        new ApexCharts(document.querySelector("#chart5"), _maturidade).render();
        new ApexCharts(document.querySelector("#chart6"), _rotatividade).render();

        new ApexCharts(document.querySelector("#chart4"), _setores).render();
        new ApexCharts(document.querySelector("#chart_nj"), _naturezajuridica).render();
        new ApexCharts(document.querySelector("#chart10"), _evolucao_setorial).render();

        new ApexCharts(document.querySelector("#chart_txsetorial"), _tx_evolucao_setorial).render();
    };

</script>
}