
<div class="navbar">
    <nav class="nav-extended z-depth-0 bg-color-light">
        <div class="nav-wrapper">
            <ul class="col s4 center">
                <li><img class="margin-t-10" src="~/svg/idnet-new-i.svg" alt="Indicadores.NET"></li>
                <li class="@NavPages.MapCompaniesNavClass(ViewContext)">
                    <a asp-page="/Index" class="@NavPages.MapCompaniesNavClass(ViewContext) submit">Empresas</a>
                </li>
                <li class="@NavPages.MapSetoresNavClass(ViewContext)">
                    <a asp-page="/Setores/Index" asp-route-n="" class="@NavPages.MapSetoresNavClass(ViewContext) submit">Setores</a>
                </li>
            </ul>
            <ul class="col s4 right hide-on-med-and-down">
                <li class="@NavPages.InfoNavClass(ViewContext)"><a asp-page="/About" class="@NavPages.InfoNavClass(ViewContext) submit"><i class="material-icons">info</i></a></li>
                <li class="@NavPages.PrivacyNavClass(ViewContext)"><a asp-page="/Privacy" class="@NavPages.PrivacyNavClass(ViewContext) submit"><i class="material-icons">policy</i></a></li>                
            </ul>
        </div>
        <div class="nav-content bg-color-grey">
            <div class="center truncate padding-5"><span id="span_result">Indicadores.Net</span></div>
        </div>
    </nav>
</div>


