@page "/empresas/{m?}/{z?}"
@model Empresas.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @Model.Municipio?.ToUpper();
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

@* <header>
<partial name="_Navs" model="Model.NavModel" />

</header> *@
<partial name="_Navs" model="Model.NavModel" />
<div class="row">

    <div class="column-container flex-wrap">
        <div class="column-p0 width-100">
            <p class="font-size-16 margin-b-0 padding-5 bg-color-dark-4">
                Novas Empresas @DateTime.Now.Year
            </p>
            <p class="font-size-10 margin-t-0 padding-5 bg-color-dark-2">Ultima extração de dados:
                @Model.LastDataExtraction</p>
        </div>

        <div class="card column-p4 hoverable">

            <div class="card-header activator">
                Formalizadas<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart9_1"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>Em @DateTime.Now.Year, foram formalizadas
                    @Model.LReports!.MatrizFilial_Ano!.Sum(s => s.Value).ToString() novas empresas, sendo
                    elas:
                </p>
                @foreach (var item in Model.LReports.MatrizFilial_Ano!)
                {
                    <p>- @item.Key : @item.Value novas empresas</p>
                }
            </div>
        </div>
        <div class="card column-p4 hoverable">

            <div class="card-header activator">
                Regime Tributário<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart9_2"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p> No Brasil, existem quatro regimes tributários para empresas:</p>
                <br />- Microempreendedor Individual (MEI)
                <br />- Simples Nacional
                <br />- Lucro Presumido*
                <br />- Lucro Real*
                <p>* Lucro real e presumido estão agrupados como "Outros" na visualização dos dados</p>
            </div>
        </div>
        <div class="card column-p4 hoverable">

            <div class="card-header activator">
                Porte/Fiscal<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart9_3"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>A Receita Federal do Brasil classifica as empresas de acordo com o seu porte, levando em
                    consideração o faturamento anual.</p>
                <br />- Microempresa (ME): receita bruta anual igual ou inferior a R$ 360 mil.
                <br />- Empresa de Pequeno Porte (EPP): receita bruta anual superior a R$ 360 mil e igual ou
                inferior a R$ 4,8 milhões.
                <br />- Empresa de Médio Porte (EMP): receita bruta anual superior a R$ 4,8 milhões e igual ou
                inferior
                a R$ 300 milhões.
                <br />- Empresa de Grande Porte (GP): receita bruta anual superior a R$ 300 milhões.
                <p>Na apresentação dos dados EMP e GP são agrupadas como "DEMAIS"</p>
            </div>
        </div>
        <div class="card column-p4 hoverable">
            <div id="map" class="map-d"></div>
        </div>
        <div class="card column-p6 hoverable">
            <div class="card">

                <div class="card-header activator">
                    Setores<i class="material-icons right deep-orange-text">help</i>
                </div>
                <div class="column-container margin-0 width-100 no-gap">
                    <div class="column-p5">
                        <div id="chart9_4"></div>
                    </div>
                    <div class="column-p5 borderl-l padding-l-10">
                        Lista Completa
                        <div class="overflow-auto max-height-280 padding-t-10 padding-b-10">
                            @foreach (var item in Model.LReports!.Top3Atividades_Ano!)
                            {
                                <p class="bg-color-grey text-color-light padding-5">@item.Key</p>
                                @foreach (var subitem in item.Value)
                                {
                                    <p class="text-color-grey "><span class="font-size-10">- @subitem.Key</span>
                                        <span class="new bg-color-grey badge" data-badge-caption="@subitem.Value"></span>
                                    </p>
                                    <div class="divider"></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>

                    @foreach (var item in Model.LReports.Top3Atividades_Ano!.Take(1))
                    {
                        <p>Em @DateTime.Now.Year, das novas empresas formalizadas, o setor de @item.Key teve a maior
                            demanda das empresas formalidas.</p>
                    }

                </div>
            </div>
        </div>
        <div class="card column-w4 hoverable">
            <div class="card">
                <div class="card-header activator">
                    Natureza Jurídica<i class="material-icons right deep-orange-text">help</i>
                </div>
                <div id="chart_nj_ano"></div>
                <div class="card-reveal">
                    <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                    <p>A natureza jurídica é uma informação importante que identifica o tipo de
                        organização de
                        uma empresa e determina o regime jurídico aplicável a ela.
                    </p>
                </div>
            </div>
        </div>

        <div class="column-p0 width-100">
            <p class="font-size-14 margin-b-0 padding-5 bg-color-dark-4">
                Histórico de Novas Empresas e Empresas Baixadas nos ultimos 12 meses
            </p>
            <p class="font-size-10 margin-0 padding-5 bg-color-dark-2">Ultima extração de dados:
                @Model.LastDataExtraction</p>
        </div>

        <div class="card column-p0 hoverable width-100">

            <div class="card-header activator">
                Empresas Formalizadas/Baixadas<i class="material-icons left">
                    date_range
                </i><i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart9" class="padding-l-10"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>Nesse quadro, detalhamos a evolução das empresas novas formalizadas mês a mês em comparação com as
                    empresas baixadas mês a mês dos ultimos 12 meses</p>
            </div>
        </div>

        <div class="column-p0 width-100">
            <p class="font-size-14 margin-b-0 padding-5 bg-color-dark-4">
                Total de empresas consolidadas no(os) municipio (os)
            </p>
            <p class="font-size-10 margin-0 padding-5 bg-color-dark-2">Ultima extração de dados:
                @Model.LastDataExtraction</p>
        </div>

        <div class="card column-p5 hoverable">

            <div class="card-header activator">
                Ativas<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div class="column-container margin-0 width-100 no-gap">
                <div class="column-p6">
                    <div id="chart1"></div>
                </div>
                <div class="column-w4 borderl-l padding-10">
                    Lista Completa
                    <div class="overflow-auto max-height-280 padding-t-10 padding-b-10">
                        @foreach (var item in Model.LReports.Quantitativo!)
                        {
                            var _key = @item.Key;
                            <p class="text-color-grey "><span class="font-size-10">- @_key?.ToUpper()</span>
                                <span class="new bg-color-grey badge" data-badge-caption="@item.Value"></span>
                            </p>
                            <div class="divider"></div>
                        }
                    </div>
                </div>
            </div>


            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>O Municipio de @Model.Municipio, tem atualmente em sua totalidade
                    @Model.LReports.MatrizFilial!.Sum(s => s.Value).ToString() CNPJ ativos.</p>
                <p>
                    @foreach (var item in Model.LReports.MatrizFilial!)
                    {
                        <span>-
                            @item.Value são Empresas @item.Key
                        </span>
                    }
                </p>
            </div>
        </div>
        <div class="card column-p4 hoverable">

            <div class="card-header activator">
                Regime Tributário<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart2"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>

                <p> No Brasil, existem quatro regimes tributários para empresas:</p>
                <br />- Microempreendedor Individual (MEI)
                <br />- Simples Nacional
                <br />- Lucro Presumido*
                <br />- Lucro Real*
                <p />* Lucro real e presumido estão agrupados como "Outros" na visualização dos dados</p>

            </div>
        </div>
        <div class="card column-p4 hoverable">

            <div class="card-header activator">
                Porte/Fiscal<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart3"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>Nesse quadro, é realizado o cruzamento dos dados das empresas agrupadas por POrte em relação as
                    empresas agrupadas por regime fiscal.</p>
                <p>
                    Dessa forma podemos entender a composição das empresa classificadas por porte x regime tributário.
                </p>
            </div>
        </div>
        <div class="card column-p5 hoverable">

            <div class="card-header activator">
                Perfil Etário<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart5"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>Nesse quadro, é realizado o agrupamento das empresas por tempo de atividade desde a sua formalização
                </p>
                @foreach (var item in Model.LReports.Idade!.Take(1))
                {
                    <p>
                        No município de @Model.Municipio, a maioria das empresas "@item.Value" tem entre @item.Key de
                        tempo de atividade desde a sua formalização.
                    </p>
                }
            </div>
        </div>
        <div class="card column-p5 hoverable">

            <div class="card-header activator">
                Rotatividade Empresarial<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart6"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>A rotatividade empresarial em municípios é um indicador que mede a frequência com que as empresas
                    abrem e fecham em um determinado período de tempo. Esse indicador é importante para avaliar o
                    dinamismo da economia local e o ambiente de negócios do município.
                    Quanto menor o indice, melhor para desenvolver o empreendedorismo.
                </p>
            </div>
        </div>

        <div class="card column-p5 hoverable">

            <div class="card-header activator">
                Crescimento Setorial ano/ano<i class="material-icons left">
                    date_range
                </i><i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart10"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>
                    Nesse quadro, indicamos o crescimento setorial das empresas, onde é mostrado o crescimento ou
                    descressimo do setor ano a ano, de todos os setores.
                </p>
            </div>
        </div>
        <div class="card column-p5 hoverable">

            <div class="card-header activator">
                Taxa de Crescimento Setorial ano/ano<i class="material-icons left">
                    date_range
                </i><i class="material-icons right deep-orange-text">help</i>
            </div>
            <div id="chart_txsetorial"></div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                <p>
                    Nesse quadro, indicamos a taxa do crescimento setorial das empresas, onde é mostrado o crescimento
                    ou
                    descressimo do setor ano a ano, de todos os setores.
                </p>
            </div>
        </div>
        <div class="card column-p0 width-100 hoverable">

            <div class="card-header activator">
                Setores<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div class="column-container margin-0 width-100 no-gap">
                <div class="column-p5">
                    <div id="chart4"></div>
                </div>
                <div class="column-p5 borderl-l padding-l-10">
                    Lista Completa
                    <div class="overflow-auto max-height-280 padding-t-10 padding-b-10">
                        @foreach (var item in Model.LReports!.TAtividades!)
                        {
                            <p class="bg-color-grey text-color-light padding-5">@item.Key</p>
                            @foreach (var subitem in item.Value)
                            {
                                <p class="text-color-grey "><span class="font-size-10">- @subitem.Key</span>
                                    <span class="new bg-color-grey badge" data-badge-caption="@subitem.Value"></span>
                                </p>
                                <div class="divider"></div>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>
                @foreach (var item in Model.LReports.Top3Atividades!.Take(1))
                {
                    <p>
                        Agrupa todas as empresasas do Municipio de @Model.Municipio por setor econômico. O setor de
                        @item.Key aparece em primeiro, com @Model.LReports.Setores?.Where(t => t.Key == item.Key).Sum(s
                    => s.Value).ToString() empresas.</p>
                }
            </div>
        </div>
        <div class="card column-p0 width-100 hoverable">

            <div class="card-header activator">
                Natureza Jurídica<i class="material-icons right deep-orange-text">help</i>
            </div>
            <div class="column-container margin-0 width-100 no-gap">
                <div class="column-p5">
                    <div id="chart_nj"></div>
                </div>
                <div class="column-p5 borderl-l padding-l-10">
                    Lista Completa
                    <div class="overflow-auto max-height-280 padding-t-10 padding-b-10">
                        @foreach (var item in Model.LReports.NaturezaJuridica!)
                        {
                            var _key = @item.Key?.Remove(0, 5);
                            <p class="text-color-grey "><span class="font-size-10">- @_key?.ToUpper()</span>
                                <span class="new bg-color-grey badge" data-badge-caption="@item.Value"></span>
                            </p>
                            <div class="divider"></div>
                        }
                    </div>
                </div>
            </div>

            <div class="card-reveal">
                <span class="card-title">Detalhes<i class="material-icons right red-text">close</i></span>

                <p>A natureza jurídica determina o regime jurídico aplicável à
                    empresa. Por exemplo, as empresas de natureza empresária têm responsabilidade limitada, o que
                    significa que os sócios não respondem com seus bens pessoais pelas dívidas da empresa.
                    Em resumo, a natureza jurídica é uma informação importante que identifica o tipo de organização de
                    uma empresa e determina o regime jurídico aplicável a ela.</p>

            </div>
        </div>
    </div>
</div>

<script>
    // Criar o mapa Leaflet
    var map = L.map('map').setView([-22.902778, -48.28125], 7); // Centro inicial do mapa do estado de sp

    // Adicionar uma camada base do OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Carregar dados GeoJSON de uma API
    fetch('/api/v1/geojson/@Model.Municipio!.ToLower()')
        .then(response => response.json())
        .then(data => {

            // Adicionar camada GeoJSON ao mapa
            var geojsonLayer = L.geoJSON(data, {
                style: {
                    color: 'green', // Cor da borda
                    fillColor: 'lightgreen', // Cor de preenchimento
                    weight: 2, // Largura da borda
                    opacity: 1, // Opacidade da borda
                    fillOpacity: 0.2 // Opacidade do preenchimento
                }
            }).addTo(map);

            // Ajustar o mapa para abranger a área GeoJSON com zoom
            map.fitBounds(geojsonLayer.getBounds());
        })
        .catch(error => console.error('Erro ao carregar dados GeoJSON:', error));
</script>

<script>
    var _width = '100%';
    var _height = 300;
    var _height_2 = 250;

    var _novas_empresas_mensal = {
        series: [
            {
                name: "Novas Tatal",
                data: [@Model.Charts!.NovasMes![0]]
            },
            {
                name: "Novas MEIs",
                data: [@Model.Charts!.NovasMeiMes![0]]
            },
            {
                name: "Novas MEs",
                data: [@Model.Charts!.NovasMEMes![0]]
            },
    @* {
            name: "Novas EPPs",
            data: [@Model.Charts!.NovasEPPMes![0]]
            },
            {
            name: "Novas Demais",
            data: [@Model.Charts!.NovasDemaisMes![0]]
            }, *@
            {
                name: "Baixas",
                data: [@Model.Charts!.BaixasMes![0]]
            }
        ],
        chart: {
            height: 350,
            type: 'area',
            height: _height,
            width: _width,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: true,
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.45,
                opacityTo: 0.05,
                stops: [20, 100, 100, 100]
            },
        },
        grid: {
            xaxis: {
                lines: {
                    show: true
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        markers: {
            size: 1
        },
        xaxis: {
            categories: [@Model.Charts!.NovasMes![1]],
        },
        yaxis: {

            title: {
                text: 'Empresas'
            },
            show: false
        },
        stroke: {
            curve: 'straight',
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        legend: {
            position: 'top',
            horizontalAlign: 'right',
            offsetX: -10
        }
    };

    var _ativas = {

        series: [@Model.Charts!.MatrizFilial![0]],
        labels: [@Model.Charts!.MatrizFilial![1]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 300,
            background: 'transparent'
        },

        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _fiscal = {

        series: [@Model.Charts!.Fiscal![0]],
        labels: [@Model.Charts!.Fiscal![1]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: _height,
            background: 'transparent'

        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _porte = {
        series: [{
            name: '@Model.Charts!.LabelPorteFiscal![0]',
            data: [@Model.Charts!.PorteFiscal![0]]
        }, {
            name: '@Model.Charts!.LabelPorteFiscal![1]',
            data: [@Model.Charts!.PorteFiscal![1]]
        }, {
            name: '@Model.Charts!.LabelPorteFiscal![2]',
            data: [@Model.Charts!.PorteFiscal![2]]
        }],
        chart: {
            type: 'bar',
            height: 280,
            stacked: true,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        responsive: [{
            breakpoint: 480,
            options: {
                legend: {
                    position: 'bottom',
                    offsetX: -10,
                    offsetY: 0
                }
            }
        }],
        plotOptions: {
            bar: {
                horizontal: false,
                borderRadius: 0,
                dataLabels: {
                    total: {
                        enabled: true,
                        style: {
                            fontSize: '13px',
                            color: '#000',
                            fontWeight: 900
                        }
                    }
                }
            },
        },
        xaxis: {
            categories: ['ME', 'EPP', 'Demais'],
        },
        yaxis: {
            show: false
        },
        grid: {
            xaxis: {
                lines: {
                    show: true
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        legend: {
            position: 'bottom',
            offsetY: 0
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        fill: {
            opacity: 1
        }
    };

    var _setores = {

        series: [@Model.Charts!.Setores![1]],
        labels: [@Model.Charts!.Setores![0]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: _height,
            background: 'transparent'
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _maturidade = {
        plotOptions: {
            bar: {
                distributed: true
            }
        },
        chart: {
            type: 'bar',
            with: _width,
            height: _height,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        plotOptions: {
            bar: {
                horizontal: true,
            },
        },
        series: [{
            name: "Empresas",
            data: [@Model.Charts!.Maturidade],
        }],
        dataLabels: {
            enabled: true,
        },
        tooltip: {
            shared: true,
            intersect: false
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        xaxis: {
            labels: {
                show: false
            },
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false
            },
            crosshairs: {
                show: false
            }
        },
        grid: {
            xaxis: {
                lines: {
                    show: false
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        legend: {
            floating: true,
            position: 'bottom',
            horizontalAlign: 'right',
            offsetY: -36
        }
    };

    var _rotatividade = {
        plotOptions: {
            bar: {
                distributed: true
            }
        },
        chart: {
            type: 'area',
            with: _width,
            height: _height,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        plotOptions: {
            bar: {
                horizontal: true,
            },
        },
        series: [{
            name: "Rotatividade",
            data: [@Model.Charts!.Rotatividade],
        }],
        dataLabels: {
            enabled: true,
            formatter: function (value) {
                return value + "%";
            }
        },
        tooltip: {
            shared: true,
            intersect: false,
            formatter: function (value) {
                return value + "%";
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        xaxis: {
            labels: {
                show: true
            },
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false
            },
            crosshairs: {
                show: false
            }
        },
        grid: {
            xaxis: {
                lines: {
                    show: true
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.45,
                opacityTo: 0.05,
                stops: [20, 100, 100, 100]
            },
        },
        stroke: {
            curve: 'straight',
        },
        legend: {
            floating: true,
            position: 'bottom',
            horizontalAlign: 'right',
            offsetY: -36
        }
    };

    var _naturezajuridica = {
        series: [@Model.Charts!.NaturezaJuridica![1]],
        labels: [@Model.Charts!.NaturezaJuridica![0]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: _height,
            background: 'transparent'
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _naturezajuridica_ano = {
        series: [@Model.Charts!.NaturezaJuridica_Ano![1]],
        labels: [@Model.Charts!.NaturezaJuridica_Ano![0]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 280,
            background: 'transparent'
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    }

    var _novas_empresas_mensal_ativas = {

        series: [@Model.Charts!.MatrizFilial_Ano![0]],
        labels: [@Model.Charts!.MatrizFilial_Ano![1]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 270,
            background: 'transparent'
        },
        dataLabels: {
            enabled: false
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _novas_empresas_mensal_fiscal = {

        series: [@Model.Charts!.Fiscal_Ano![0]],
        labels: [@Model.Charts!.Fiscal_Ano![1]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 270,
            background: 'transparent'
        },
        dataLabels: {
            enabled: false
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _novas_empresas_mensal_porte = {
        series: [{
            name: '@Model.Charts!.LabelPorteFiscal![0]',
            data: [@Model.Charts!.PorteFiscalAno![0]]
        }, {
            name: '@Model.Charts!.LabelPorteFiscal![1]',
            data: [@Model.Charts!.PorteFiscalAno![1]]
        }, {
            name: '@Model.Charts!.LabelPorteFiscal![2]',
            data: [@Model.Charts!.PorteFiscalAno![2]]
        }],
        chart: {
            type: 'bar',
            height: _height_2,
            stacked: true,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            }
        },
        yaxis: {
            show: false
        },
        grid: {
            xaxis: {
                lines: {
                    show: true
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        responsive: [{
            breakpoint: 480,
            options: {
                legend: {
                    position: 'bottom',
                    offsetX: -10,
                    offsetY: 0
                }
            }
        }],
        plotOptions: {
            bar: {
                horizontal: false,
                borderRadius: 0,
                dataLabels: {
                    total: {
                        enabled: true,
                        style: {
                            fontSize: '13px',
                            color: '#000',
                            fontWeight: 900
                        }
                    }
                }
            },
        },
        xaxis: {
            categories: ['ME', 'EPP', 'DEMAIS'],
        },
        legend: {
            position: 'bottom',
            offsetY: 0
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        fill: {
            opacity: 1
        }
    };

    var _novas_empresas_mensal_setor = {

        series: [@Model.Charts!.SetoresAno![1]],
        labels: [@Model.Charts!.SetoresAno![0]],
        legend: {
            position: 'bottom',
        },
        chart: {
            type: 'donut',
            with: _width,
            height: 280,
            background: 'transparent'
        },
        dataLabels: {
            enabled: false
        },
        plotOptions: {
            pie: {
                startAngle: -120,
                endAngle: 120,
                offsetY: 10,
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true
                        }
                    }
                }
            }
        },
        grid: {
            padding: {
                bottom: -10
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1'
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: _width
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var _evolucao_setorial = {
        series: [@Model.Charts!.CrescimentoSetorial![1]],
        chart: {
            type: 'area',
            stacked: false,
            height: _height,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            },
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0,
        },
        grid: {
            xaxis: {
                lines: {
                    show: true
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        stroke: {
            curve: 'straight',
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.45,
                opacityTo: 0.05,
                stops: [20, 100, 100, 100]
            },
        },
        tooltip: {
            shared: true
        },
        legend: {
            position: 'top',
            horizontalAlign: 'right',
            offsetX: -10
        }
    };

    var _tx_evolucao_setorial = {
        series: [@Model.Charts!.TxCrescimentoSetorial![1]],
        chart: {
            type: 'area',
            stacked: false,
            height: _height,
            background: 'transparent',
            toolbar: {
                show: false
            },
            zoom: {
                enabled: false
            },
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0,
        },
        grid: {
            xaxis: {
                lines: {
                    show: true
                },
            },
            yaxis: {
                lines: {
                    show: false
                }
            }
        },
        stroke: {
            curve: 'straight',
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.45,
                opacityTo: 0.05,
                stops: [20, 100, 100, 100]
            },
        },
        tooltip: {
            shared: true
        },
        legend: {
            position: 'top',
            horizontalAlign: 'right',
            offsetX: -10
        }
    };

    window.onload = function () {
        new ApexCharts(document.querySelector("#chart9_1"), _novas_empresas_mensal_ativas).render();
        new ApexCharts(document.querySelector("#chart9_2"), _novas_empresas_mensal_fiscal).render();
        new ApexCharts(document.querySelector("#chart9_3"), _novas_empresas_mensal_porte).render();
        new ApexCharts(document.querySelector("#chart9_4"), _novas_empresas_mensal_setor).render();
        new ApexCharts(document.querySelector("#chart_nj_ano"), _naturezajuridica_ano).render();

        new ApexCharts(document.querySelector("#chart9"), _novas_empresas_mensal).render();

        new ApexCharts(document.querySelector("#chart1"), _ativas).render();
        new ApexCharts(document.querySelector("#chart2"), _fiscal).render();
        new ApexCharts(document.querySelector("#chart3"), _porte).render();
        new ApexCharts(document.querySelector("#chart5"), _maturidade).render();
        new ApexCharts(document.querySelector("#chart6"), _rotatividade).render();

        new ApexCharts(document.querySelector("#chart4"), _setores).render();
        new ApexCharts(document.querySelector("#chart_nj"), _naturezajuridica).render();
        new ApexCharts(document.querySelector("#chart10"), _evolucao_setorial).render();

        new ApexCharts(document.querySelector("#chart_txsetorial"), _tx_evolucao_setorial).render();
    };

</script>
