@page "/{n?}"
@model IndexModel
@{
    Layout = "_LayoutMap";
    ViewData["Title"] = "Densidade Empresarial do Estado de SP";
    ViewData["ActivePage"] = Shared.NavPages.MapCompanies;
}

<div id="float-container-l">
    <a href="#" data-target="slide-out-service" class="sidenav-trigger btn"><i
            class="material-icons">construction</i></a>
    <a href="#" data-target="slide-out" class="btn sidenav-trigger"><i class="material-icons">map</i></a>
</div>

<partial name="_LoadingMap" />

<ul class="sidenav collapsible" id="slide-out">
    <form class="div-search-cnae valign-wrapper" method="post">
        <i class="material-icons">search</i>
        <input class="input-search-cnae browser-default" type="search" placeholder="Procurar cidade"
            onkeypress="handle(event)" asp-for="@Model.Cidade">
    </form>
    <li>
        <div class="collapsible-header">Regiões Administrativas</div>
        <div class="collapsible-body">
            @foreach (var macro in Model.RegioesAdministrativas!)
            {
                <p><a class="rag_click submit btn-link" data-estado="sp" data-macro="ra-@macro.Value">@macro.Key</a><i
                        class="material-icons left">place</i></p>
                @* <div class="divider"></div> *@
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">Regiões de Governo</div>
        <div class="collapsible-body">
            @foreach (var macro in Model.RegioesGovernoSP!)
            {
                <p><a class="rag_click submit btn-link" data-estado="sp" data-macro="rg-@macro.Value">@macro.Key</a><i
                        class="material-icons left">place</i></p>
                @* <div class="divider"></div> *@
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">Regiões Metropolitanas</div>
        <div class="collapsible-body">
            @foreach (var macro in Model.RegioesMetropolitanasSP!)
            {
                <p><a class="rag_click submit btn-link" data-estado="sp" data-macro="rm-@macro.Value">@macro.Key</a><i
                        class="material-icons left">place</i></p>
                @* <div class="divider"></div> *@
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">Aglomerados Urbanos</div>
        <div class="collapsible-body">
            @foreach (var macro in Model.AglomeradosUrbanosSP!)
            {
                <p><a class="rag_click submit btn-link" data-estado="sp" data-macro="au-@macro.Value">@macro.Key</a><i
                        class="material-icons left">place</i></p>
                @* <div class="divider"></div> *@
            }
        </div>
    </li>
</ul>

<div class="sidenav" id="slide-out-service">
    <div class="div-search-cnae valign-wrapper margin-b-0">
        <i class="material-icons margin-l-10 grey-text">search</i>
        <input class="input-search-cnae browser-default" onkeypress="handle2(event)" type="search"
            placeholder="CNAE ex: 15 ou 1531901">
    </div>
    <ul class="collapsible" id="setores">
        @foreach (var setor in Model.Setore_Segmentos_Cnaes!)
        {
            <li>
                <div class="collapsible-header">@setor.Key</div>
                <div class="collapsible-body">
                    @foreach (var segmento in setor.Value)
                    {
                        <div class="row line-normal padding-t-10 margin-b-10">
                            <a class="btn-small sidenav-close submit" asp-page="/Setores/Index" asp-route-n="@segmento.Key[..2]"
                                data-segmento="@segmento.Key[..2]" data-descricao="@segmento.Key.Remove(0, 2)"
                                title="CNAE Grupo: @segmento.Key[..2]">> @segmento.Key.Remove(0, 2)</a>
                        </div>
                        @foreach (var cnae in segmento.Value)
                        {
                            <p class="line-normal"><a class="sidenav-close truncate submit" asp-page="/Setores/Index"
                                    asp-route-n="@cnae[..7]" data-cnae="@cnae[..7]" data-descricao="@cnae.Remove(0, 7)"
                                    title="CNAE @cnae[..7]">>>@cnae.Remove(0, 7)</a></p>

                        }
                        <div class="divider"></div>
                    }
                </div>
            </li>
        }
    </ul>
</div>

<div class="container-map-charts no-gap">
    <div class="w-40p">
        @{
            await Html.RenderPartialAsync("_Navbar");
        }
        <div id="map" class="map"></div>
    </div>
    <div class="w-60p">
        @{
            await Html.RenderPartialAsync("_Charts", Model.ModelCharts);
        }
    </div>
</div>

<script src="~/osm/geo-base.js" asp-append-version="true"></script>
<script src="~/osm/geo-legend-e.js" asp-append-version="true"></script>
<script src="~/osm/geo-style-e.js" asp-append-version="true"></script>
<script src="~/osm/geo-zoomfeature-e.js" asp-append-version="true"></script>
<script src="~/osm/geo-oneachfeature.js" asp-append-version="true"></script>
<script src="~/js/cnae-list.js" asp-append-version="true"></script>
<script>
    var _page_link = '@Model.PageParam';
    var _mapMode = '@Model.MapMode';
    var spanResult_l = document.getElementById("span_result");
    spanResult_l.textContent = '@Model.Cnae';

    if (_mapMode === '0') {
        loadData('@Model.UrlAPI');
    }
    else {
        doMapByCNAE('@Model.UrlAPI');
    }
    function handle2(e) {
        if (e.keyCode === 13) {
    @* $(".blackboxload").show();
            $("#loader").show(); *@
            var v = $(".input-search-cnae").val();
            //if (v === "")
            //return false;
            const _url = '/api/v1/setores/' + v;
            carregarSetores(_url);
    @* $("#loader").hide();
            $(".blackboxload").fadeOut("slow"); *@
        }
    }

    loadData('/api/v1/geojson/');
    function handle(e) {
        if (e.keyCode === 13) {
            var v = $("#input-search").val();
            if (v === "")
                return false;

            //const url = '/maps/' + v;
            //location.href = url;
            $(".blackboxload").show();
            $("#loader").show();
        }
    }
</script>
