@page
@model IndexModel
@{
    Layout = "_LayoutMap";
    ViewData["Title"] = "Densidade Empresarial do Estado de SP";
    ViewData["ActivePage"] = Shared.NavPages.MapCompanies;
}

<div id="float-container-l">
    <a href="#" data-target="slide-out" class="btn sidenav-trigger"><i class="material-icons">map</i></a>
</div>

<partial name="_LoadingMap" />

<ul class="sidenav collapsible" id="slide-out">
    <form class="div-search-cnae valign-wrapper" method="post">
        <i class="material-icons margin-l-10 grey-text">search</i>
        <input class="input-search-cnae browser-default" type="search" placeholder="Procurar cidade"
            onkeypress="handle(event)" asp-for="@Model.Cidade">
    </form>
    <li>
        <div class="collapsible-header">Regiões Administrativas</div>
        <div class="collapsible-body">
            @foreach (var macro in Model.RegioesAdministrativas!)
            {
                <p><a class="rag_click submit btn-link" data-estado="sp" data-macro="ra-@macro.Value">@macro.Key</a><i
                        class="material-icons left">place</i></p>
                @* <div class="divider"></div> *@
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">Regiões de Governo</div>
        <div class="collapsible-body">
            @foreach (var macro in Model.RegioesGovernoSP!)
            {
                <p><a class="rag_click submit btn-link" data-estado="sp" data-macro="rg-@macro.Value">@macro.Key</a><i
                        class="material-icons left">place</i></p>
                @* <div class="divider"></div> *@
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">Regiões Metropolitanas</div>
        <div class="collapsible-body">
            @foreach (var macro in Model.RegioesMetropolitanasSP!)
            {
                <p><a class="rag_click submit btn-link" data-estado="sp" data-macro="rm-@macro.Value">@macro.Key</a><i
                        class="material-icons left">place</i></p>
                @* <div class="divider"></div> *@
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header">Aglomerados Urbanos</div>
        <div class="collapsible-body">
            @foreach (var macro in Model.AglomeradosUrbanosSP!)
            {
                <p><a class="rag_click submit btn-link" data-estado="sp" data-macro="au-@macro.Value">@macro.Key</a><i
                        class="material-icons left">place</i></p>
                @* <div class="divider"></div> *@
            }
        </div>
    </li>
</ul>

<div class="container-map-charts bg-grey gap-2">
    <div class="w-50p">
        @{
            await Html.RenderPartialAsync("_Navbar");
        }
        <div id="map" class="map"></div>
    </div>
    <div class="w-50p">
        @{
            await Html.RenderPartialAsync("_Charts", Model.ModelCharts);
        }
    </div>
</div>

<script src="~/osm/geo-base.js" asp-append-version="true"></script>
<script src="~/osm/geo-legend-e.js" asp-append-version="true"></script>
<script src="~/osm/geo-style-e.js" asp-append-version="true"></script>
<script src="~/osm/geo-zoomfeature-e.js" asp-append-version="true"></script>
<script src="~/osm/geo-oneachfeature.js" asp-append-version="true"></script>
<script>
    loadData('/api/v1/geojson/');
    function handle(e) {
        if (e.keyCode === 13) {
            var v = $("#input-search").val();
            if (v === "")
                return false;

            //const url = '/maps/' + v;
            //location.href = url;
            $(".blackboxload").show();
            $("#loader").show();
        }
    }
</script>
